/*
  This is my favorite font, so I though I'd include it in most of the project
  I also put some backup font in case it didn't work out
*/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
    font-family: 'Roboto', 'Gill Sans', sans-serif;
}

/* =============================================================================
    Global element styles
 =============================================================================*/

body {
    background-color: #000000;
    margin: 0px;
    overflow-x: hidden;
    z-index: 0;
}

p {
    color: #373F51;
    font-size: 1.5em;
    line-height: 1.5;
    text-align: left;
}

a {
    color: #58A4B0;
    text-decoration: none;
}

/* =============================================================================
    Class-level styles
 =============================================================================*/

 .bottom-call-to-action {
     align-items: center;
     height: 15%;
     position: relative;
     text-align: center;
     top: 55%;
     width: 100%;
     z-index: 300;
 }

 .bottom-launch-text {
     color: white;
     font-size: 3em;
     text-shadow: 1px 2px #58A4B0;
 }

 .button-container {
     margin-top: 0px;
 }

 .differentiate-name {
     text-shadow: 2px 4px #007bff;
 }

.floating-text-container {
    float: left;
    position: relative;
    text-align: center;
    top: 5vw;
    width: 100%;
    z-index: 400;
}

.floating-text {
    color: white;
    font-size: 6em;
    text-shadow: 2px 4px #58A4B0;
}

.floating-subtext {
    color: white;
    font-size: 3.5em;
    text-shadow: 2px 4px #58A4B0;
}

.highlight {
    color: #007bff;
    opacity: .86;
}

/*
  Image is my own; used an iphone camera, a lamp, and photoshop to achieve the effect
*/
.kenyan-in-space {
    animation: rotate .1s linear infinite;
    animation-delay: calc(var(--scroll) * -.1s);
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-play-state: paused;
    background: url("../images/kenyan-in-space.png");
    background-repeat: no-repeat;
    background-size: 1200px 1000px;
    background-position: center;
    width: 100vw;
    height: 120vh;
    z-index: 275;
    position: fixed;
    top: 0px;
    left: -100px;
}

/*
 Mars gif by Krapey,
 https://www.deviantart.com/krapey/art/Mars-Animation-Gif-771243998
*/
.mars {
    background: url("../images/mars-cartoon.gif");
    background-repeat: no-repeat;
    border-radius: 50%;
    height: 300px;
    left: 80%;
    position: relative;
    top: 15%;
    width: 300px;
    z-index: 250;
}
/*
 Neptune gif by Krapey,
 https://www.deviantart.com/krapey/art/Neptune-Animated-Gif-771441568
*/

.neptune {
    background: url("../images/neptune-cartoon.gif");
    background-repeat: no-repeat;
    background-size: 500px 500px;
    border-radius: 50%;
    height: 500px;
    left:-10%;
    position: relative;
    top:34%;
    width: 500px;
    z-index: 250;
}

.paper {
    background: linear-gradient(to bottom right, #D8DBE2, #F7F7FF, #D8DBE2);
    box-shadow: 2px 2px 2px gray;
    left: 25vw;
    padding: 10px 15px;
    position: absolute;
    top: 35vw;
    width: 50%;
    z-index: 300;
}

/* Not a mistake, I didn't specify the left for a reason*/
.paper-body {
    margin: 0px 3vw 3vw;
}

.paper-content {
    float: left;
    display: inline;
    width: 100%;
}

.paper-cut-out {
    background-image: url("../images/hole.png");
    border-radius: 50%;
    display: block;
    height: 35px;
    margin-left: 10px;
    width: 35px;
}

.paper-cut-out-different {
    background-position: right;
}

.paper-cut-out-match-top {
    margin-top: 150px;
}

.paper-cut-out-middle {
    background-position: center;
    margin-top: 250px;
}

.paper-cut-out-small-star {
    background-position: left;
}

.paper-cut-out-top {
    background-position: left;
    margin-top: 150px;
}

.paper-hole-punch {
    display: inline;
    float: left;
    width: 10%;
}

.paper-header {
    color: #000000;
    font-family: monospace;
    font-size: 2.5em;
    margin-left: 3vw;
    margin-right: 3vw;
    opacity: .68;
    text-align: left;
}

.paper-unordered-list {
    font-size: 1.25em;
    line-height: 1.75;
    list-style-type: square;
    float: left;
    margin-top: 0px;
    margin-left: 25px;
    width: 80%;
}

.paper-right {
    float: left;
    width: 90%;
}

.paper-tear-here {
    border-top: 4px dotted grey;
}

/* Normalizes the container that sits above the "space container" */
.space-container {
    height: 350%;
    margin: 0px;
    padding: 0px;
    width: 100vw;
}

/* =============================================================================
    Individual-level styles
 =============================================================================*/

#stylize-hr{
    border-color: #000000;
    opacity: .68;
    width: 85%;
}

/* =============================================================================
    Animations
 =============================================================================*/

@keyframes rotate {
  to {
    transform: rotate(-50deg);
  }
}
